.drawer {
   /* height: 100vh;
    width: 30vh;*/
    position: fixed;
    z-index: 200;
    margin:0;
    top:0;
    grid-gap: 0;
    left:0;
}
.dashboard-recap{
  padding:20px;
/* box-shadow: 20px 20px 20px 20px #888888;
 /* max-width: 1600px;*/
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-sp{
 /* margin-left: 10px;
  margin-right: 10px;
  height: 110px;
  width:150px;*/
}
.monthlyreport{
  /*height:350px*/
}
.body{
  
height: 100%;
width:100%;
margin:0;
}
.con-body{
  padding-left:0px;
  padding-right:0px;
  margin-top:0;
  margin-left:0px;
  margin-right: 0px;
}